---
import Layout from "../layouts/Layout.astro";
import Features from "../components/widgets/Features.astro";
import Content from "../components/widgets/Content.astro";
import Form from "../components/ui/Form.astro";
import { Icon } from "astro-icon/components";
import Button from "../components/ui/Button.astro";

const metadata = {
  title: "legal",
  description: "",
};
---

<Layout metadata={metadata}>
  <Content tagline="" title="AVISO DE PRIVACIDAD">
    <article
      class="flex flex-col gap-3 text-justify text-sm text-muted-foreground px-5"
    >
      <p>
        <b>Protección Electrónica Monterrey SA de CV, </b>en lo sucesivo <b
          >PEMSA</b
        > en su carácter de responsable encargado del tratamiento de sus datos personales,
        manifiesta que, para efectos del presente aviso, su domicilio se encuentra
        ubicado en 33 Poniente N° 307 Col. Chulavista, Puebla Pue. C.P. 72420
      </p>

      <p>
        <b>PEMSA</b> presenta este aviso de privacidad con la finalidad de dar cumplimiento
        a los artículos 15, 16 y demás relativos de la Ley Federal de Protección de
        Datos Personales en Posesión de los Particulares (LA LEY).
      </p>

      <p>
        <b>PEMSA</b> se compromete a que estos datos serán tratados bajo las más estrictas
        medidas de seguridad que garanticen su confidencialidad.
      </p>

      <p>
        Los referidos datos personales se incorporarán a las distintas bases de
        datos de PEMSA, razón por la cual <b>EL CLIENTE</b> autoriza que
        <b>PEMSA</b> realice el tratamiento de sus datos personales de conformidad
        con las finalidades más adelante descritas, para utilizarlos durante el desarrollo
        de las operaciones y servicios contratados. <b>PEMSA</b> tendrá la responsabilidad
        de protegerlos mientras estén en su poder.
      </p>

      <ol class="flex flex-col gap-2 list-decimal list-inside">
        <li>
          <b>Datos Personales Recibidos del Cliente</b>
          <div class="pl-5">
            <p>
              <b>EL CLIENTE</b> acepta de manera expresa entregar a <b>PEMSA</b> para
              su tratamiento, de manera enunciativa más no limitativa los siguientes
              datos personales:
            </p>
            <ol class="flex flex-col gap-2 list-disc list-inside px-5">
              <ol
                class="flex flex-col gap-2 list-[lower-alpha] list-inside px-5"
              >
                <li>
                  <b>Datos generales del titular y/o encargado:</b> Apellido Paterno,
                  Apellido Materno, Nombre(s), Registro Federal de Contribuyentes
                  (RFC), Sexo, Nacionalidad, identificación oficial, profesión, ocupación,
                  correo electrónico, compañía que representa, domicilio(s) de ésta
                  y en caso de ser persona moral <b>ACTA CONSTITUTIVA</b>
                </li>

                <li>
                  <b>Domicilio:</b> Calle, número exterior, número interior, colonia,
                  código postal, Estado, delegación/municipio, teléfono, correo electrónico.
                </li>
              </ol>
              <li>
                <b>Datos Personales Sensibles. -</b> Para cumplir con las finalidades
                previstas en este Aviso de Privacidad, <b>PEMSA</b> hace de su conocimiento
                que de manera enunciativa más no limitativa se recaban y tratan datos
                personales sensibles:
              </li>

              <li>
                <b>Datos Financieros y Bancarios. -</b> Los datos financieros y bancarios
                que se podrán solicitar son los siguientes: Información financiera,
                cuentas bancarias, datos de tarjetas de crédito y débito, CLABE bancaria,
                RFC, referencias e historial crediticio;
              </li>

              <li>
                <b>Datos Patrimoniales:</b> Información de bienes muebles e inmuebles
                para el servicio de vigilancia.
              </li>
            </ol>

            <p>
              Estos datos serán tratados bajo las más estrictas medidas de
              seguridad que garanticen su confidencialidad. Podrán tratarse
              otros datos personales, sensibles y no sensibles, que no se
              incluyan en las listas anteriores siempre y cuando dichos datos se
              consideren de la misma naturaleza y no sean excesivos respecto a
              las finalidades para los cuales se recaban.
            </p>

            <p>
              Para el tratamiento de su Datos Personales Sensibles, Datos
              financieros y Bancarios y Patrimoniales se requiere su
              consentimiento expreso mediante la firma del aviso de privacidad
              correspondiente.
            </p>
          </div>
        </li>
        <li>
          <b>Finalidad de los Datos Personales</b>
          <div class="pl-5">
            <p>
              <b>EL CLIENTE</b> consiente que sus datos personales sean utilizados
              por
              <b>PEMSA</b> con la <b>finalidad principal</b> de:
            </p>

            <ol class="flex flex-col gap-2 list-decimal list-inside px-5">
              <li>
                Identificación, localización y contacto con el titular y
                encargados
              </li>
              <li>Verificar y confirmar su identidad</li>
              <li>
                Monitoreo y consulta de eventos recibidos en la central de
                Monitoreo
              </li>
              <li>Elaborar y presentar cotizaciones</li>
              <li>Contactarle y ofrecerle nuestros servicios</li>
              <li>Dar de alta como proveedores</li>
              <li>Encuestas de satisfacción</li>
              <li>Facturación y cobranza de servicios y productos</li>
              <li>Realización de estudios de mercado</li>
              <li>
                Atención a sus solicitudes, quejas, dudas y/o comentarios
                relacionados con nuestros servicios
              </li>
              <li>Realización de encuestas de satisfacción</li>
              <li>
                Las demás finalidades que resulten necesarias para la prestación
                de los servicios por usted requeridos.
              </li>
            </ol>

            <p>
              <b>Finalidades Secundarias</b>
            </p>

            <ol class="flex flex-col gap-2 list-decimal list-inside px-5">
              <li>Realizar estudios y procesos internos.</li>
              <li>
                Realizar encuestas de calidad en el servicio y atención a
                clientes.
              </li>
              <li>
                Para fines mercadotécnicos, publicitarios o de prospección
                comercial.
              </li>
              <li>
                Cumplir con los requisitos legales y reglamentarios aplicables.
              </li>
            </ol>
            <p>
              En caso de que no desee que sus datos personales sean tratados
              para estas finalidades secundarias, usted tiene un plazo máximo de
              5 (cinco) días hábiles para comunicar lo anterior a la Dirección
              de Contacto: datospersonales@pem-sa.com La negativa para el uso de
              sus datos personales para estas finalidades, no podrá ser un
              motivo para que le neguemos los servicios y productos que solicita
              o contrata con nosotros.
            </p>
          </div>
        </li>
        <li>
          <b>Seguridad de los Datos Personales</b>
          <div class="pl-5">
            <p>
              <b>PEMSA</b> implementará las medidas de seguridad técnicas, administrativas
              y físicas necesarias para procurar la integridad de sus datos personales
              y evitar su daño, pérdida, alteración, destrucción o el uso, acceso
              o tratamiento no autorizado.
            </p>

            <p>
              Únicamente el personal autorizado, que ha cumplido y observado los
              correspondientes requisitos de confidencialidad, podrá participar
              en el tratamiento de sus datos personales. El personal autorizado
              tiene prohibido permitir el acceso de personas no autorizadas y/o
              utilizar los datos personales para fines distintos a los
              establecidos en el presente Aviso de Privacidad. La obligación de
              confidencialidad de las personas que participan en el tratamiento
              de sus datos personales subsiste aún después de terminada la
              relación con <b>PEMSA</b>.
            </p>
          </div>
        </li>
        <li>
          <b>Transferencias</b>

          <div class="pl-5">
            <p>
              El CLIENTE entiende y acepta que <b>PEMSA</b> podrá remitir sus datos
              personales a <b>PEMSA</b> y a terceros contratados por
              <b>PEMSA</b> para realizar en su nombre y representación ciertas tareas
              relacionadas con las actividades comerciales, de tecnologías de la Información,
              de promoción de productos y servicios y en general con actividades relacionadas
              al objeto social de <b>PEMSA</b> financieras o de crédito, aseguradoras
              y despachos de cobranza.
            </p>

            <p>
              En este acto se declara que <b>PEMSA</b> transferirá la información
              aquí contenida cuando sea necesario, a la Secretaría de Hacienda y Crédito
              Público, despachos jurídicos, Buró de Crédito; en dichos casos <b
                >PEMSA</b
              > procurará que éstos terceros le den el mismo tratamiento que el aquí
              manifestado. Los terceros no tendrán la facultad de retransmitir la
              información ni de utilizarla para fines distintos a los que el titular
              a través de
              <b>PEMSA</b> haya designado.
            </p>

            <p>
              También se podrán transmitir su datos personales a las autoridades
              Financieras Mexicanas, con la finalidad de dar cumplimiento a
              leyes y requerimientos oficiales, autoridades e Instituciones del
              sector asegurador y afianzador en caso de ser necesarios, así como
              cumplimiento a regulaciones en materia de prevención de lavado de
              dinero, brindando en este caso los datos indispensables; también a
              las autoridades competentes, locales y federales cuando se
              encuentre dentro de las excepciones señaladas en la Ley y su
              Reglamento. En el caso de transferencias, tratamiento de sus datos
              personales sensibles, financieros y bancarios, se requerirá su
              consentimiento expreso, mediante la firma del presente aviso de
              privacidad.
            </p>

            <p>
              La remisión de datos personales señalados en el párrafo anterior
              incluye la divulgación de información en una base de datos
              confidencial a terceros que puedan estar participando en un
              proyecto o una transacción de negocios con <b>PEMSA,</b> incluyendo
              implementación de sistemas, financiamientos, seguros, o, en su caso,
              la cesión de derechos, cobro de deudas, estudios socioeconómicos entre
              otros.
            </p>

            <p>
              <b>PEMSA</b> podrá transmitir libremente los datos personales de <b
                >EL CLIENTE</b
              >
              a las sociedades controladoras, subsidiarias o filiales, a una sociedad
              matriz o a cualquier sociedad de <b>PEMSA</b> que opere bajo los mismos
              procesos y políticas internas.
            </p>
          </div>
        </li>
        <li>
          <b>Limitaciones de la Divulgación de Información</b>

          <div class="pl-5">
            <p>
              <b>PEMSA </b>se compromete a no transferir su información personal
              a terceros adicionales a los mencionados en el párrafo anterior
              sin su consentimiento y en caso de que EL CLIENTE haya consentido
              que se realicen transferencias,<b> PEMSA, </b>hará del
              conocimiento del CLIENTE a través de medios impresos o
              electrónicos la finalidad por la que dicha información será
              transferida a terceros; asimismo <b>PEMSA</b> informará a través de
              los mismos medios por los que se recabaron los datos personales (domicilio
              físico y dirección de correo electrónico) los cambios que se realicen
              al aviso de privacidad.
            </p>

            <p>
              De igual forma EL CLIENTE se compromete a dar aviso a <b>PEMSA</b> sobre
              cualquier cambio respecto a su domicilio físico y/o dirección de correo
              electrónico, con la finalidad de que <b>PEMSA</b> pueda comunicarse
              con EL CLIENTE para informar cualquier cambio o modificación respecto
              de lo contenido en el presente aviso de privacidad.
            </p>

            <p>
              <b>PEMSA</b> no necesitará el consentimiento de EL CLIENTE para transferir
              a terceras personas su información en los siguientes casos:
            </p>

            <ol class="flex flex-col gap-2 list-[lower-alpha] list-inside px-5">
              <li>
                Cuando la transferencia esté prevista en una Ley o Tratado en
                los que México sea parte.
              </li>
              <li>
                Cuando la transferencia sea necesaria para la prevención o el
                diagnóstico médico, la prestación de asistencia sanitaria,
                tratamiento médico o la gestión de servicios sanitarios.
              </li>
              <li>
                Cuando sea requerida por autoridades competentes de conformidad
                con las disposiciones legales aplicables.
              </li>
            </ol>
          </div>
        </li>
        <li>
          <b
            >Medios para ejercer los derechos de acceso, rectificación,
            cancelación y oposición (ARCO) de los datos personales</b
          >

          <div class="pl-5">
            <p>
              <b>PEMSA</b> ha designado a un encargado de datos personales, (el “Oficial
              de Privacidad”), por lo tanto Usted podrá limitar el uso o divulgación
              de sus datos personales mediante comunicación dirigida al correo electrónico
              siguiente: <a>datospersonales@pem-sa.com</a>
              (la “Dirección de Contacto”).
            </p>

            <p><b>Usted tiene derecho de:</b></p>
            <ol class="flex flex-col gap-2 list-[upper-roman] list-inside px-5">
              <li>
                Acceder a sus datos personales en nuestro poder y conocer los
                detalles del tratamiento de los mismos.
              </li>
              <li>Rectificarlos en caso de ser inexactos o incompletos.</li>
              <li>
                Cancelarlos cuando considere que no se requieren para alguna de
                las finalidades señaladas en el presente Aviso de Privacidad,
                estén siendo utilizados para finalidades no consentidas o haya
                finalizado la relación contractual o de servicio.
              </li>
              <li>
                Oponerse al tratamiento de los mismos para fines específicos,
                según lo diga la ley,(conjuntamente, los “Derechos ARCO”).
              </li>
            </ol>

            <p>
              <span
                >Los Derechos ARCO se ejercerán mediante la presentación de la
                solicitud respectiva, la cual puede ser solicitada al Oficial de
                privacidad al correo: <a><span></span></a><a
                  >datospersonales@pem-sa.com</a
                ></span
              > la “Solicitud ARCO” a cual deberá ser enviada, acompañada de la siguiente
              información y documentación:
            </p>

            <ol class="flex flex-col gap-2 list-[upper-roman] list-inside px-5">
              <li>
                Su nombre, domicilio y correo electrónico para poder comunicarle
                la respuesta a la Solicitud ARCO;
              </li>
              <li>
                Los documentos que acrediten su identidad (copia de IFE,
                pasaporte o cualquier otra identificación oficial) o en su caso,
                los documentos que acrediten su representación legal;
              </li>
              <li>
                Una descripción clara y precisa de los datos personales respecto
                de los cuales busca ejercer alguno de los Derechos ARCO;
              </li>
              <li>
                Cualquier documento o información que facilite la localización
                de sus datos personales;
              </li>
              <li>
                En caso de solicitar una rectificación de datos, deberá de
                indicar también, las modificaciones a realizarse y aportar la
                documentación que sustente su petición.
              </li>
              <li>
                La indicación del lugar donde podremos revisar los originales de
                la documentación que acompañe.
              </li>
            </ol>

            <p>
              Su Solicitud ARCO será contestada mediante un correo electrónico
              por parte del Oficial de Privacidad en un plazo máximo de 20
              (veinte) días hábiles contados desde el día en que se haya
              recibido su Solicitud ARCO. En caso de que la Solicitud ARCO se
              conteste de manera afirmativa o procedente, tales cambios se harán
              en un plazo máximo de 15 (quince) días hábiles. Los plazos
              referidos en este párrafo se podrán prorrogar por una vez por un
              periodo igual en caso de ser necesario.
            </p>

            <p>
              Es importante comunicarle que <b>PEMSA</b> podrá negar el acceso (la
              “Negativa”) para que Usted ejerza sus Derechos ARCO en los siguientes
              supuestos:
            </p>

            <ol class="flex flex-col gap-2 list-[upper-roman] list-inside px-5">
              <li>
                Cuando Usted no sea el titular de los datos personales, o su
                representante legal no esté debidamente acreditado para ejercer
                por medio de él, sus Derechos ARCO;
              </li>
              <li>
                Cuando en nuestra base de datos no se encuentren sus datos
                personales;
              </li>
              <li>Cuando se lesionen los derechos de un tercero;</li>
              <li>
                Cuando exista un impedimento legal o la resolución de una
                autoridad competente, que restrinja sus Derechos ARCO.
              </li>
              <li>
                Cuando la Rectificación, Cancelación u Oposición haya sido
                previamente realizada.
              </li>
            </ol>

            <p>
              En relación con lo anterior, la Negativa podrá ser parcial, en
              cuyo caso <b>PEMSA</b> efectuará el acceso, rectificación, cancelación
              u oposición en la parte procedente.
            </p>

            <p>
              <b>PEMSA</b> siempre le informará el motivo de su decisión y se la comunicará
              a Usted o en su caso, a su representante legal, en los plazos anteriormente
              establecidos, por correo electrónico, acompañando, en su caso, las pruebas
              que resulten pertinentes.
            </p>

            <p>
              El ejercicio de los Derechos ARCO será gratuito, previa
              acreditación de su identidad ante el responsable, pero si Usted
              reitera su solicitud en un periodo menor a doce meses, los costos
              serán de tres días de la Unidad de Medida y Actualización Vigente,
              más I.V.A., a menos que existan modificaciones sustanciales al
              Aviso de Privacidad que motiven nuevas consultas. En todos los
              casos, la entrega de los datos personales será gratuita, con la
              excepción de que Usted deberá de cubrir los gastos justificados de
              envío o el costo de reproducción en copias u otros formatos.
            </p>

            <p>
              EL CLIENTE podrá revocar el consentimiento que ha otorgado a <b
                >PEMSA</b
              > para el tratamiento de los datos personales que no sean indispensables
              para el cumplimiento de las obligaciones derivadas del vínculo jurídico
              que les une, a fin de que<b> PEMSA</b> deje de hacer uso de los mismos.
              Para ello, es necesario que EL CLIENTE presente su petición en los términos
              antes mencionados.
            </p>
          </div>
        </li>
        <li>
          <b>Mecanismo para revocación del consentimiento.</b>

          <div class="pl-5">
            <p>
              En caso de que Usted decida revocar su consentimiento para que<b>
                PEMSA</b
              > deje de llevar a cabo el tratamiento de sus datos personales, o se
              oponga a la transferencia de los mismos, deberá de enviar una solicitud
              de revocación de consentimiento a la Dirección de Contacto, y deberá
              de ser acompañada en el correo electrónico de los documentos que acrediten
              su identidad (copia de IFE, pasaporte o cualquier otra identificación
              oficial) o en su caso, los documentos que acrediten su representación
              legal y la indicación del lugar en el cual se pone a nuestra disposición
              los documentos originales.
            </p>

            <p>
              Para conocer el procedimiento y requisitos para la revocación del
              consentimiento, usted podrá ponerse en contacto con nuestro
              Oficial de Privacidad en el correo electrónico siguiente: <a
                >datospersonales@pem-sa.com</a
              >
            </p>

            <p>
              De conformidad con lo dispuesto en el Reglamento (UE) 2016/679 del
              Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a
              la protección de las personas físicas en lo que respecta al
              tratamiento de datos personales y a la libre circulación de estos
              datos (en adelante “Reglamento general de protección de datos” o
              “GPDR”), <b>PEMSA</b> se compromete a seguir obteniendo su consentimiento
              expreso para adquirir, procesar y tratar sus datos personales de conformidad
              con lo establecido en el GDPR.
            </p>

            <p>
              Al ingresar a la página web de <b>PEMSA</b> el servidor guarda la siguiente
              información: el dominio o dirección IP de la computadora que solicita
              el acceso, la fecha de acceso, el código de respuesta HTTP, la página
              web de la cual ingresa y el número de bytes transferidos a través de
              la conexión, tiempo de navegación en nuestra página de Internet, secciones
              consultadas, y páginas de Internet accedidas previo a la nuestra. La
              información enunciada se obtiene con fines de seguridad en el sistema,
              así como para monitorear su comportamiento como usuario de Internet,
              brindarle un mejor servicio y experiencia de usuario al navegar en nuestra
              página de Internet, así como ofrecerle nuevos servicios basados en sus
              preferencias. En algunos casos
              <b>PEMSA</b> guarda cierta información en su PC por medio de “cookies”.
              Se denomina “cookie” al archivo de datos que se almacene en el disco
              duro del equipo de cómputo o del dispositivo de comunicaciones electrónicas
              de un usuario al navegar en un sitio de internet específico, el cual
              permite intercambiar información del estado entre dicho sitio y el navegador
              del usuario. EL uso de “cookies” puede revelar medios de identificación
              de sesión, autenticación o preferencias del usuario, así como <b
                >PEMSA</b
              >, tener acceso a su sistema o a sus datos personales, excepto que
              usted provea dicha información de manera voluntaria. Es importante
              mencionar que la configuración estándar del navegador permite el
              uso de “cookies”, por lo que puede inhabilitar dicha configuración
              en su navegador,
            </p>

            <p>
              Nuestra página de internet puede contener links o enlaces a
              páginas de internet externas y/o redes sociales que no
              corresponden a <b>PEMSA</b> y, por tanto, no guardan relación alguna
              con nosotros. Le recomendamos revisar y leer las políticas de privacidad,
              así como los términos de uso de dichos sitios web externos antes de
              hacer uso de estos. No asumimos ninguna responsabilidad o riesgo con
              respecto a temas de privacidad u cualquier otro tema legal que esté
              relacionado con cualquiera de sus servicios.
            </p>

            <p>
              El presente Aviso de Privacidad y sus cambios será publicado en
              las oficinas de <b>PEMSA</b> y/o en la página electrónica siguiente:
              <b><a>www.pem-sa.com</a></b>
            </p>
          </div>
        </li>
      </ol>
    </article>
  </Content>
</Layout>
