---
import { siteConfig } from "../config/site";
import logo from "../assets/images/logo.webp";
import { Image } from "astro:assets";
import Socials from "./Socials.astro";
---

<footer class="bg-neutral-primary-soft">
    <div class="mx-auto w-full max-w-7xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a
                    href="/"
                    class="flex items-center min-w-full flex-col gap-2 md:flex-row"
                >
                    <Image
                        src={logo}
                        alt={"LOGO"}
                        class="logos w-80 md:w-sm"
                        quality={"low"}
                    />
                    <span
                        class="text-heading self-center text-2xl font-semibold sm:whitespace-nowrap flex-1"
                        >{siteConfig.nameLarge}</span
                    >
                </a>
                <p class="text-sm text-muted-foreground pt-5">
                    {siteConfig.description}
                </p>
            </div>
            <div class="md:w-75 mt-auto">
                <div>
                    <h2 class="mb-6 text-sm font-bold text-heading uppercase">
                        Legal
                    </h2>
                    <ul class="text-body font-medium">
                        <li class="mb-4">
                            <a href="/legal" class="hover:underline"
                                >Aviso de privacidad</a
                            >
                        </li>
                        <!-- <li>
                            <a href="#" class="hover:underline"
                                >Términos &amp; Condiciones</a
                            >
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-default sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-body sm:text-center">
                &copy; {new Date().getFullYear()}
                {siteConfig.author}. All rights reserved.
            </span>
            <Socials />
        </div>
    </div>
</footer>
