---
import Layout from "../../../layouts/Layout.astro";

const metadata = {
    title: "Certificados",
    description:
        "Learn more about our vision, values, and the team behind Astro Starter Pro.",
};
---

<Layout {metadata}>
    <p>Permisos</p>
</Layout>
